*{
    margin:0;
    padding:0;
    font-family: 'open Sans', sans-serif;
}

.Contenedor{
    border: solid 1px black;
    width: 100%;
    max-width:1000px;
    margin:auto;
    box-sizing: border-box;
    overflow:hidden; 
}

.cabecera{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 220px;
    
}

.cabecera img {
    width: 100px;
}

.cabecera_h1 {
  position: absolute;
  top: 40px;
  left: 150px;
} 

.cabecera_frase {
  position: absolute;
  top: 70px;
  left: 235px;
}

.nav{
    margin: 10px 10px 0 0;
    position: absolute;
    background: none;
    height: auto;
    width: unset;
    border:none; 
    top: 5px;
    left: 700px;
} 

.nav_link_1 {
    
    background: #008899;
    color: white;
    padding: 5px;
    border-radius: 3px; 
}

.nav_link_2 {
    
    background: #008899;
    color: white;
    padding: 5px;
    border-radius: 3px; 
}

.nav_link_3 {
    
    background: #008899;
    color: white;
    padding: 5px;
    border-radius: 3px; 
}

/***********************************/

.galeria {
    width: 100%;
    height: 400px;
    background:  #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria_lienzo {
    
    width: 600px;
    height: 350px;
    overflow: hidden;
}

.galeria_contenedor {
    display: flex;
    width: 7000px;
    height: 50px;
    transition: transform 1s ease-in;
    will-change: transform;  
}

.elemento1:checked~.galeria_contenedor {
    transform: translatex(0px);
}

.elemento2:checked~.galeria_contenedor {
    transform: translatex(-600px);
}

.elemento3:checked~.galeria_contenedor {
    transform: translatex(-1200px);
}

.controles {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -26px;
}


label {
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: green;
    display: block;
    cursor: pointer;
}
.tienda {
    
    display: grid;
    grid-template: repeat(3, 300px)/ repeat(3, 300px);
    justify-content: center;
    grid-gap:16px;
    width: 100%;
    height: auto;
}
.tienda article{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-flow: wrap;
    border:solid;
    border-radius:15px;
    overflow: hidden;
    cursor: pointer;
}

article:active{
    transform: scale(1.10);
}

.tienda img {
    position: relative;
    top:5px;
    width: 150px;
    height: 100px;
    border-raius:15px;
}

.tienda div{
    width: 100%;
    height: 30px;
    background: #008B99;
}

.tienda div h3 {
  
    text-align: center;
    color: #FFFFFF;
    
}
.tienda p {
    font: 120% sans-serif;
    text-align: justify;
    padding: 15px;
}




    

/*************PIE DE PAGINA***********/

.espacio {
    position: relative;
    height: 20px;
}

.PiePagina {
    display: flex;
    justify-content: center;
    position: relative;
    height: 105px;
    background: #008B99;
    align-content: center;
}

.PiePagina footer {
    text-align: center;
    color: white;
}

/************************MODO RESPONSIVE*************/

@media screen and (max-width: 600px) {
    .tienda{
        grid-template: repeat(3,300px) / repeat(1,300px);
    }
}

@media screen and (max-width: 600px){
	
.cabeceraabecera {
 display: flex;
 justify-content: space-between;
 position: relative;
 height: 130px;
}
 
.cabecera figure {
 width:130px;
 Margin:Auto;
}

.cabecera img{
 width:95px; 
 height:80px;
}

.cabecera_h1 { 
 
 position: absolute;
 top: 40px;
 left: 100px;
 
}

.cabecera_frase {
 position: absolute;
 top: 70px;
 left: 100px;
}
	
.nav {
display:none;	
}
		
}
